@import "styles/mixins";

.header {
  @include mobileContainer();
  margin-top: 28px;

  &__title {
    font-family: StyreneAWebMedium, sans-serif;
    font-size: 28px;
    line-height: 120%;
    color: var(--color--text-black-secondary);
  }
}