$animation_duration: 0.5s;
$max_container_height: 400px;

.module {
  display: flex;
  flex-direction: column;

  &__toggle {
    padding: 14px 24px;
    display: grid;
    grid-template-columns: 18px auto;
    column-gap: 27px;

    font-family: StyreneAWebLight, sans-serif;
    font-size: 18px;
    line-height: 130%;
    transition: color, background-color $animation_duration;

    &__on {
      color: var(--color--text-white);
      background-color: var(--color--bg-red);
    }

    &__off {
      color: var(--color--text-black-secondary);
      background-color: var(--color--bg-gray);
    }
  }

  &__list {
    & > * {
      font-family: StyreneAWebLight, sans-serif;
      font-size: 15px;
      line-height: 130%;
    }

    position: relative;
    list-style-type: none;
    display: grid;
    background-color: var(--color--bg-white);
    row-gap: 10px;
    transition: all $animation_duration;

    &_open {
      margin-top: 17px !important;
      opacity: 1;
      max-height: $max_container_height;
    }

    &_closed {
      z-index: -1;
      margin-top: 0 !important;
      opacity: 0;
      max-height: 0;
    }
  }
}
